{% extends 'base.html' %}

{% block content %}
<div class="navbar-container">
    <header>File: {{ taskfile.title }}</header>
    <a href="{% url 'org_project_list' org_id=org_id %}" class="outline-btn">Back to Projects</a>
</div>

<div class="custom-form-container">
    <div class="form-background-rect">
        <p style="font-weight: 500;">Description:</p>
        <p>{{ taskfile.file_description }}</p>
        <!-- <p>Keywords: {{ taskfile.keywords }}</p> -->
        <br>
        <p style="font-weight: 500;">Uploaded on:</p>
        <p>{{ taskfile.timestamp }}</p>
    </div>
</div>

<h2 class="file-name">View File</h2>

<div class="file-display">
    {% if file_extension == "jpg" or file_extension == "jpeg" %}
        <img src="{{ file_url }}" alt="File" class="file-image">
    {% elif file_extension == "pdf" %}
        <iframe src="{{ file_url }}" class="file-iframe"></iframe>
    {% else %}
    <p style="margin: 3rem;"><em>Clicking the button below will open the text file in another tab.</em></p>
        <div class="view-file-button-container">
            <a href="{{ file_url }}" target="_blank" class="btn">View Uploaded Text File</a>
        </div>
    {% endif %}
</div>
{% endblock %}
